[Unit]
Description=Icecream distributed compiler scheduler

[Service]
Type=simple
User=icecream
Group=icecream
SyslogIdentifier=icecc-scheduler
ExecStart=/usr/libexec/icecc/icecc-scheduler-wrapper

[Install]
WantedBy=multi-user.target
